# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/

*.ilk
*.obj
*.pch
*.pdb
*.log

# Visual C++ cache files
ipch/
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# XCode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate

*~

local_ignore/
