os:
  - linux
  - osx

language: cpp

sudo: required
dist: trusty
osx_image: xcode7

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/test;
      wget https://github.com/glfw/glfw/releases/download/3.1.1/glfw-3.1.1.zip;
      sudo apt-get update;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew uninstall xctool;
      brew install xctool --HEAD;
      brew install homebrew/versions/glfw3;
      brew install libusb;
    fi

install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -qq build-essential xorg-dev libglu1-mesa-dev libglew-dev libglm-dev; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -qq cmake; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -qq gcc-4.9; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -qq libusb-1.0-0-dev ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX="g++-4.9"; fi

  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then $CXX --version; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cmake --version; fi

  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then unzip glfw-3.1.1.zip; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cd glfw-3.1.1; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo cmake -G "Unix Makefiles" -DBUILD_SHARED_LIBS=ON; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo make; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo make install; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cd ..; fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
    uname -a
    make
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    xctool -workspace librealsense.xc/librealsense.xcworkspace -scheme librealsense ONLY_ACTIVE_ARCH=NO;
    fi