# Copyright (c) 2017 Intel Corporation. All rights reserved.
# Use of this source code is governed by a Apache License
# Version 2.0 license that can be found in the LICENSE file.
version: 2.1.{build}
branches:
  only:
  - development
skip_tags: true
environment:
  nodejs_version: "6"
image: Visual Studio 2015
clone_folder: c:\projects\librealsense
init:
- cmd: 
install:
- ps: Install-Product node $env:nodejs_version
- cmd: >-
    cd c:\projects\librealsense\.. && git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git 

    set OLDPATH=%PATH% && set PATH=%PATH%;c:\projects\depot_tools

    cd c:\projects\librealsense\wrappers\nodejs\tools && npm install

    cd c:\projects\librealsense\wrappers\nodejs && node .\tools\linter.js && set PATH=%OLDPATH% && set OLDPATH=
before_build:
- cmd: >-
    cd c:\projects\librealsense && mkdir build && cd build

    cmake .. -DBUILD_EXAMPLES=true -DBUILD_PYTHON_BINDINGS=true -DBUILD_NODEJS_BINDINGS:BOOL=true
build:
  project: ./build/librealsense2.sln
  verbosity: minimal
test_script:
- ps: >-
    $url_awgc = "http://realsense-hw-public.s3.amazonaws.com/rs-tests/awgc_lrs_2.8.0_fw_5.8.9_ts_16_00_10_18_17"

    $url_asrc = "http://realsense-hw-public.s3.amazonaws.com/rs-tests/asrc__lrs_2.8.0_fw_5.8.9_ts_16_00_10_18_17"

    $output_awgc = "C:/projects/librealsense/build/Debug/live_test_awgc"

    $output_asrc = "C:/projects/librealsense/build/Debug/live_test_asrc"

    Invoke-WebRequest -Uri $url_awgc -OutFile $output_awgc

    Invoke-WebRequest -Uri $url_asrc -OutFile $output_asrc

    & cmd.exe /c C:/projects/librealsense/build/Debug/live-test.exe from C:/projects/librealsense/build/Debug/live_test_awgc -d yes

    if ($LASTEXITCODE -ne 0)
    {
        throw "D435 Tests failed!"
    }

    & cmd.exe /c C:/projects/librealsense/build/Debug/live-test.exe from C:/projects/librealsense/build/Debug/live_test_asrc -d yes

    if ($LASTEXITCODE -ne 0)
    {
        throw "D415 Tests failed!"
    }

    # TODO(halton): Add unit test for Node.js binding
