# appveyor file
# http://www.appveyor.com/docs/appveyor-yml

os: Visual Studio 2013

before_build:
  - cmd: nuget restore librealsense.vc12/realsense.sln -Verbosity detailed

build:
  verbosity: minimal
  project: librealsense.vc12/realsense.sln

cache:
  - librealsense.vc12/packages