*.jar
*.aar
*.apk
*.iml
*.user

!*.json
!gradle-wrapper.jar

.externalNativ
.settings
.gradle

output_build
local.properties

.idea
/build
/captures
/.externalNativeBuild

gradle
gradlew
gradlew.bat


