<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.intel.realsense.librealsense">
    <uses-permission android:name="android.permission.CAMERA"/>

    <application android:allowBackup="true" android:supportsRtl="true">
        <activity
            android:name=".OnUsbAttachActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/usb_filter" />
        </activity>
    </application>
</manifest>  