bin/
lib/

ubuntu-xenial/
ubuntu-xenial-hwe/

# CMake
build/

# XCode
.DS_Store
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
librealsense.xc/build

*~
*.a
*.o
*.so
*.pyc
*.class

local_ignore/

#Visual Studio Project
.vs/*

#Clion Project
.idea/*

# QTCreator Project
/.qmake.cache
/.qmake.stash
*.user
*.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
librealsense-log.txt

*.pyproj
*.orig
*.psess
*.vspx
*.vsp
*.bak
*.bin
*.suo
*.tlog
*.obj
*.ilk
*.pdb
*.exp
*.log
*.stamp
*.depend
*.vcxproj
*.exe
*.cache
*.lib
*.filters
*.db
*.opendb
*.rule
*.check_cache
*.dll
*.list
*.json
*.ini
*.cxx

