Binaries/
Build/
Debug/
Intermediate/
Saved/

Plugins/RealSense/Binaries/
Plugins/RealSense/Intermediate/

Content/Collections/
Content/Developers/

.vs/

*.sln
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.exe
*.pdb

.kdev4/
CMakeLists.txt
*.code-workspace
*.kdev4
*.pro
*.workspace
*.pri
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
