name: static_analysis

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

env:
  # Expected error count should decrease as we handle the errors. Update accordingly.
  CPPCHECK_EXPECTED_ERROR_COUNT: 57

jobs:
  cppcheck:
    name: cppcheck
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install 
        shell: bash
        run: |
          sudo apt-get update;
          sudo apt-get install -qq cppcheck;
        
      - name: Run
        shell: bash
        #Selected run options:
        #  ./xxx            :   Folders to scan
        #  --quiet          :   Don't show current checked configuration in log
        #  --std=c++11      :   Use C++11 standard (default but worth mentioning)
        #  --xml            :   Output in XML format
        #  -j4              :   Run parallel jobs for a faster scan. current HW is 2 core (https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners) using 4 to future proof
        #  --enable         :   Additional check to run. options are [all, warning, style, performance, protability, information, unusedFunction, missingInclude]
        #  -I               :   Include directories
        #  -i               :   Ignore directories. Ignore third-party libs that we don't want to check
        #  --suppress       :   Don't issue errors about files matching the expression (when -i for folders is not enough)
        #  --force          :   Check all configurations, takes a very long time (~2 hours) and did not find additional errors. Removed.
        #  --max-configs=6  :   Using less configuration permutations (default is 12) to reduce run time. Detects less errors. Removed.
        #  -Dxxx            :   preprocessor configuration to use. Relevant flags taken from build on Ubuntu.
        run: > 
          cppcheck ./src ./include ./common ./tools ./examples ./third-party/realdds ./third-party/utilities
          --quiet --std=c++11 --xml -j4 --enable=warning
          -I./src -I./include -I./third-party/utilities/include -I./common
          -i./src/mf -i./src/uvc -i./src/win -i./src/winusb --suppress=*:third-party/json.hpp
          -DBUILD_WITH_DDS -DHWM_OVER_XU -DRS2_USE_V4L2_BACKEND -DUNICODE -DUSING_UDEV -DCHECK_FOR_UPDATES -D__linux__
          &> cppcheck_run.log

      - name: Upload log
        uses: actions/upload-artifact@v3
        with: 
          name: cppcheck_log
          path: cppcheck_run.log

      - name: Provide correct exit status
        shell: bash
        run: |
          ERROR_COUNT=$(grep cppcheck_run.log -e "severity=\"error\"" -c);
          if [ $ERROR_COUNT -eq ${{env.CPPCHECK_EXPECTED_ERROR_COUNT}} ];
          then
            echo "cppcheck_run succeeded, found" $ERROR_COUNT "errors, as expected";
            exit 0;
          elif [ $ERROR_COUNT -lt ${{env.CPPCHECK_EXPECTED_ERROR_COUNT}} ];
          then
            echo "cppcheck_run ---> SUCCEEDED <--- but found" $ERROR_COUNT "errors when expecting" ${{env.CPPCHECK_EXPECTED_ERROR_COUNT}};
            echo "see log for details, or update .github/workflows/static_analysis.yaml";
            exit 1;
          else
            echo "cppcheck_run ---> FAILED <--- with" $ERROR_COUNT "errors; expecting" ${{env.CPPCHECK_EXPECTED_ERROR_COUNT}} "- see log for details";
            exit 1;
          fi
